.right { 
  float: right; 
}
.alice-carousel__stage{
	float:center;
}
.bookpage{
  color:white;
}

.stars{
  float:left;
}
.bookinfo{
  float:left;
}
.comment{
  float:center;
}
.bookcover{
  float:left;
}
.comment-textarea{
  max-height:50%;
  max-width:100%;
  font-size:18px;
}
