.image-uploader-img{
	width: 400px;
	height: 400px;
}

.Cropper{
	margin-top: auto;
	margin-left: auto;
    margin-right: auto;
	border: 3px solid grey;
	border-style: dotted;
	width:400px;
	height:400px;
}
.Cropper ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;  
  bottom: 50px;
}

.Cropper li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media only screen and (max-width: 855px) {
.Cropper{
	margin-top: auto;
	margin-left: auto;
    margin-right: auto;
	border: 3px solid grey;
	border-style: dotted;
	width:280px;
	height:280px;
}
.image-uploader-img{
	width: 280px;
	height: 280px;
}

.Cropper ul {
  position: relative;
  list-style-type:none;
  overflow: hidden;
  position: absolute;
  bottom:20px;
}

.Cropper ul li {
  width:auto;
  height:auto;
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding:0px;
  padding-bottom:35px;
  
}

}
