.user-container {
  color: white;
  padding-right: 3px;
  padding-left: 3px;
}

button {
  font-size: 14px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1;
  opacity: 0.5;
  outline: 0;
  padding: 1rem;
}

.actions {
  margin: auto;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.content {
  width: 100%;
  padding: 10px 5px;
}

.header {
  width: 100%;
  border-bottom: 1px solid grey;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.Cropper {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid grey;
  border-style: dotted;
}

.Cropper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 50px;
}

.Cropper li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.profile-content {
  background-color: #6b9ea6;
  width: 100%;
}

.stickbar {
  z-index: 1;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  color: black;
}

.stickbar-inactive {
  top: 0px;
  background-color: white;
  overflow: hidden;
}

.tag-bar {
  margin-left: -170px;
  transition: margin 1s;
  float: left;
  background: white;
  width: 150%;
  height: 25px;
}
#biblioteczka:after {
  content: " Biblioteczka";
}
.tag-bar-move {
  transition: margin 1s;
  float: left;
  background: white;
  width: 130%;
}

img.user-profile-img {
  transition: 0.5s ease;
  border-radius: 50%;
}

img.user-profile-img:hover {
  transform: scale(1.2, 1.2);
}

.tag-bar-name {
  float: left;
  margin: 3px;
  transition: 0.5s;
  /* width:110px; */
}

.tag-bar-button {
  height: 30px;
}

.tag-bar-name-phone {
  margin-left: 0px;
  float: left;
  margin: 3px;
  transition: 0.5s;
}

.userpanel {
  opacity: 1;
  transition: 0.8s ease;
}

.userpanel-inactive {
  opacity: 0;
  transition: 0.5s ease;
}

@media (max-width: 855px) {
  .tag-bar-name {
    float: left;
    opacity: 0;
    transition: 0.5s;
  }
  .tag-bar-name-phone {
    float: left;
    opacity: 1;
    transition: 0.5s;
  }
  .buttons {
    float: none;
    display: inline-block;
  }
  .tag-bar {
    float: left;
    width: 170%;
  }
  .float-right {
    float: left !important;
  }
  .tag-bar-move {
    transition: margin 1s;
    float: left;
    /* margin-top: 45px; */
    background: white;
    width: 130%;
  }
}

.my-col2 {
  position: fixed;
  scroll-padding-left: 40px;
}
